<!DOCTYPE html>
<html lang="uk">


<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Магазин фарб в Луцьку - Dekoral | Primalex | Sniezka...</title>
    <meta name="description" content="Магазин⭐Інтер'єрних фарб та лаків,⚡Декоративних штукатурок,⚡все для фасаду,✅+38&nbsp;(050)-658-66-98,✅farba.lutsk@gmail.com">
    <meta name="keywords" content="фасадна фарба,фарба фасадна,Інтер'єрні фарби,Інтерєрні фарби,декоративная штукатурка,декоративна штукатурка,венецианская штукатурка,фактурная штукатурка,декоративная штукатурка цена,фасадная штукатурка,штукатурка цена,краска для стен,фарба для дерева,фарба снежка,фарба акрилова,цвета красок,вогнетривка фарба,купити фарбу,купити фасадну фарбу,фарба фасадна,лак по дереву купить луцк,лак для пола,лак паркетный водний,лак для паркета,емаль,Луцьк,Sniezka,Primalex,Drewno chron,Dekoral,Domalux,vidaron,profprotect,triora,belinka,купити фарби Луцьк,купити лак Луцьк,купити сітку Луцьк, купити фарбу для стін,купити фарбу для дома, для фасаду,фарба для стін,фарба для зовнішніх стін,фарба для зовнішніх робіт,лак для підлоги,грунт для стін,дім фарб луцьк,водоемульсійна фарба,водоемульсіонка">
    <link rel="canonical" href="https://dimfarb.in.ua">
    <link rel="alternate" href="https://dimfarb.in.ua" hreflang="uk-ua">
    <meta property="og:title" content="Магазин фарб в Луцьку - Dekoral | Primalex | Sniezka..." />
    <meta property="og:description" content="Магазин⭐Інтер'єрних фарб та лаків,⚡Декоративних штукатурок,⚡все для фасаду,✅+38&nbsp;(050)-658-66-98,✅farba.lutsk@gmail.com" />
    <meta property="og:image" content="https://dimfarb.in.ua/img/images/logonew2.png">
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://dimfarb.in.ua/">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Іконка в адресній строці -->
    <link rel="shortcut icon" href="{{asset('img/images/title-logo.ico')}}" type="image/x-icon" title="icon">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <!-- Анімація -->
    <link rel="stylesheet" href="{{ asset('css/animate.css')}}">
    <!-- Галерея багет -->
    <link href="{{ asset('css/bootstrap.css')}}" rel="stylesheet">
    <link href="{{ asset('css/lightbox.min.css')}}" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="{{ asset('css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="{{ asset('css/mdb.min.css')}}" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="{{ asset('css/style.css')}}" rel="stylesheet">
    <!-- Анімація при скроллі -->
    <script src="{{ asset('js/wow.min.js')}}"></script>
    <script>
        new WOW().init();
    </script>
</head>


<body>

    <header class="container-fluid" id="gotoheader">
        <div class="row title_responsivB">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h1 class="title-head">Магазин фарб</h1>
            </div>
        </div>
        <div class="row row align-items-center navigation">

            <!-- Логотип -->
            <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">
                <img src="img/images/logo3.png" class="img-responsive img-fluid logotyp" alt="Logotyp">
            </div>

            <!-- Ссилкі хедер -->
            <div class="col-xl-5 col-lg-6 col-md-12 col-sm-12 ">
                <ul class="nav justify-content-around nav-box" id="navigation-scroll">
                    <li class="nav-item">
                        <a class="nav-link link-font" href="#production">Продукція</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-font" href="#colorsdesign">Фотогалерея</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-font" href="#contact">Контакти</a>
                    </li>

                </ul>
            </div>

            <!-- Телефон хедер -->
            <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-12">
                <a class="tel" href="tel:+380506586698" role="button"><i class="fas fa-phone phons-icons"></i>&nbsp;&nbsp;&nbsp;+38&nbsp;(050)-658-66-98</a>
            </div>

            <!-- Іконки соц мереж -->
            <div class="col-xl-2 col-lg-12 col-md-12 col-sm-12  social-box">
                <a href="https://www.facebook.com/dimfarb.lutsk"><img src="img/images/faccebokSilver.png" class="img-responsive social-icon" alt="іконка facebook"></a>
                <a href="viber://chat?number=+380506586698" class="sociaiconpc"><img src="img/images/viberSilver.png" class="img-responsive social-icon" alt="іконка viber"></a>
                <a href="viber://add?number=380506586698" class="sociaiconmobile"><img src="img/images/viberSilver.png" class="img-responsive social-icon" alt="іконка viber"></a>
                <a href="https://www.instagram.com/farbalutsk/?hl=ru" role="button"><img src="img/images/instagram.png" class="img-responsive social-icon" alt="іконка instagram"></a>
            </div>
        </div>
    </header>


    {% block body %}{% endblock %} {% include 'footer.html.twig' %}
    <div id="top-button">
        <a href="#gotoheader"><img id="back-top" class="topbuttonimg" src="{{ asset('img/images/top-button2.png')}}" alt="top-button"></a>
    </div>
    {% block javascript %}
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script src="{{ asset('js/jquery-3.2.1.min.js')}}"></script>
    <!-- Bootstrap tooltips -->
    <script src="{{ asset('js/popper.min.js')}}"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="{{ asset('js/bootstrap.min.js')}}"></script>
    <!-- MDB core JavaScript -->
    <script src="{{ asset('js/mdb.min.js')}}"></script>
    <!-- Бокс вспливаючого вікна галереЇ -->
    <script src="{{ asset('js/lightbox.min.js')}}"></script>


    <!-- Карта Гоогл -->
    <!--  <script>
    function initMap() { var uluru = {lat: 50.750436, lng: 25.35963 }; var map = new google.maps.Map(document.getElementById('map'), { zoom: 17, center: uluru }); var marker = new google.maps.Marker({ position: uluru, map: map }); }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzWsWrYC6OuhkjgN2UHRj0G-TMVjKmiNQ&callback=initMap">
    </script> -->
    <!-- СКрипт кнопка на верх появлення зникання -->

    <script>
        jQuery(function(f) {
            var element = f('#back-top');
            f(window).scroll(function() {
                element['fade' + (f(this).scrollTop() > 1500 ? 'In' : 'Out')](700);
            });
        });
    </script>

    <!-- СКРІПТ ПЛАВНИЙ ПЕРЕХІД ЯКОРЬ ССИЛОК -->

    <script>
        $(document).ready(function() {
            $("#navigation-scroll").on("click", "a", function(event) {
                event.preventDefault();
                var id = $(this).attr('href'),
                    top = $(id).offset().top;
                $('body,html').animate({
                    scrollTop: top
                }, 1500);
            });
        });
    </script>

    <!-- СКрипт ПЛАВНИЙ ПЕРЕХІД кнопка на верх -->

    <script>
        $(document).ready(function() {
            $("#top-button").on("click", "a", function(event) {
                event.preventDefault();
                var id = $(this).attr('href'),
                    top = $(id).offset().top;
                $('body,html').animate({
                    scrollTop: top
                }, 1500);
            });
        });
    </script>

    <!-- Бокс вспливаючого вікна галереЇ -->

    <script>
        lightbox.option({
            'resizeDuration': 200,
            'wrapAround': true
        })
    </script>
    {% endblock %}

</body>

</html>